<h1>게시판</h1>
<p>어서오세요^-^</p>
<a href="/post/new">글쓰기</a>
<% @posts.each do |post| %>
  <p><%= post.id %></p>
  <p><%= post.title %></p>
  <p><%= post.body %></p>
  <p><%= post.created_at %></p>
  <p><%= post.updated_at %></p>
  <a href="/post/<%= post.id %>">글보기</a>
  <a href="/post/<%= post.id %>/destroy">글삭제</a>
  <a href="/post/<%= post.id %>/edit">글수정</a>
  <hr />
<% end %>
